html, body {
	background-color: #F9F9F9;
	padding: 0px;
	height: 100%;
}

div.container {
	background-color: #FFFFFF;
	padding: 10px;
}

div#banner>h1{
	text-align: center;
}

nav {
	text-align: center;
}

nav li {
	display: inline;
	text-align: justify;
	border-right: 1px solid #003471;
}

nav li:last-child { 
	border-right: none; 
}

div#search_bar > form > input[type="submit"] {
	margin-left: 10px;
}