#background {
  height: 135px;
  position: absolute;
  width: 100%;
  background-image: url('../img/background_grey.png');
}
header section .two.columns img {
  max-width: 70%;
}
header section .ten.columns span {
  font-style: italic;
  font-size: 0.65em;
/*  display: block;  */
}
header section, #searchbutton button {
  color: #ac4142;
  border-color: #ac4142;
}
header section h1 {
  text-align: center;
}
header section .ten.columns input {
  width: 100%;
}
nav {
  position: relative;
  background-color: #808080;
  height: 25px;
  z-index: 1;
}
nav ul {
  padding: 0px;
  margin: 0px;
}
nav ul li {
  display: inline;
  float: left;
  list-style-type: none;
  text-transform: uppercase;
  width: 130px;
  margin-bottom: 0px;
}
nav ul li a {
  text-decoration: none;
  background-color: #808080;
  color: #FFFFFF;  
  display: block;
  width: 120px;
 	padding-left: 10px;
}
nav ul li a:hover {
  background-color: #666666;
  color: #FFFFFF;
}
nav ul li ul {
  visibility: hidden;
}
nav ul li:hover ul {
	visibility: visible
}
a#validator {
  position: absolute;
  right: 0px;
  top: 3px;
}
a#validator img {
	width: 40px;
}
a {
  color:  #666666;
}
a:hover {
  color:  #808080;
}
h2, h3 {
  text-align:  center;
}
main {
    position: relative;
    top: -35px;
}
footer .twelve.columns {
  background-color: #808080;
  color: #FFFFFF;
}
footer .twelve.columns p {
	text-align: center;
}
#footerbackground {
  min-height: 25px;
  position: absolute;
  width: 100%;
  background-image: url('../img/background_grey.png');
}
footer .twelve.columns p {
  margin-bottom:  0px;
}
.addleftborder {
	border-left:	thin;
	border-left-style: dotted;
}
.addrightborder {
	border-right:	thin;
	border-right-style: dotted;
}
.addtopborder {
	border-top:thin;
	border-top-style: dotted;
}
