vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|02 Apr 2015 20:43:07 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|JOHN-LAPTOP\\John
vti_modifiedby:SR|JOHN-LAPTOP\\John
vti_timecreated:TR|01 Apr 2015 04:17:13 -0000
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TW|02 Apr 2015 20:41:48 -0000
vti_cacheddtm:TX|02 Apr 2015 20:43:07 -0000
vti_filesize:IR|1892
vti_cachedlinkinfo:VX|S|../img/background_grey.png S|../img/background_grey.png
vti_cachedsvcrellinks:VX|FSUS|img/background_grey.png FSUS|img/background_grey.png
